header{
    background-color: #0099CC;
    max-width: 100%;
    margin: 0px;
    font-family: Script MT Bold;
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 200%;
    margin: 0px;
}

.boja1{
    color: #CCFFCC;
    
}
.boja1{
    color: appworkspace;

    
}.boja1{
    color:blueviolet;
  
    
}.font1{
  
    font-family: cursive;
    
}.font2{
  
    font-family: monospace;
    
}.font3{
  
    font-family: serif;
    
}.pozadina1{
    background-color: paleturquoise;
 
    
}
.pozadina2{
    background-color:  lavender;
   
    
}
.pozadina3{
    background-color: aliceblue;
   
    
}
.def label{
    float: left;
    margin: 5px;
    
    
}
.def input{
    float: right;
    margin: 5px;
    
    
}

div.galerija{
    border: 1px solid #ccc;
}

div.galerija:hover {
    border: 1px solid #777;
}

div.galerija img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}



.responzivno {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responzivno {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responzivno {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.greska{
    color:red;
    font-weight: bold;
}
#kategorije{
    margin: 10px; 
    
    padding: 10px;
    max-width: 100%;
    color: black;
    
}
.usluge{
    clear: both;
    display: block;
}
.usluge > ul{
    list-style: none;
    float:left;
    margin: 20px;
    display: inline-block;
}

#kategorije > ul{
    list-style: none;
    float:left;
    margin: 20px;
    display: inline-block;
}
#kategorije > ul li a{
    display: block;
    color: #003399;
    text-transform: uppercase;
    text-decoration: none;
    float:left;
    border-width: 1px;
    padding: 5px 10px;
}

#kategorije> ul li a:hover{
    color: white;
    background-color: #0099CC;
}

footer{
    clear:both;
    padding-top: 2%;
    background-color: #0099CC;
    max-width: 100%;
    margin: 0px;
    color: white;
    font-style: italic;
    text-align: center;
    margin: 0px;
}
footer > p{
    margin: 0px;
}
body{
    margin: 0px;
    font-family: Calibri Light ;
  
}
figcaption{
    display: none;
}

nav{

    float:left;
    border-color: white;
    max-width: 20%;
    width: 20%;
    height: 100%;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    height: 100%;



}
nav > ul {
    list-style: none;
    float:left;
    margin-right: 20%;
}


nav > ul li a{
    display: block;
    color: #66CCFF;
    text-transform: uppercase;
    text-decoration: none;
    float:left;
    border-width: 1px;
    padding: 5px 10px;


}
nav> ul li a:hover{
    color: white;
    background-color: #CCFFCC;
}

nav > ul li:first-child a{
    border-top-style: none;

}
table{
    margin: 10px; 
    padding: 10px;
    max-width: 100%;
    color: black;
    display: inline-block;
}
.tablica{
    margin: 10px;
}
form{
    margin: 10px; 
    padding: 10px;
    max-width: 100%;
    color: black;
    display: inline-block;

}
form > input{
    float: right;
}

section{
    position: relative;
    float: left;

}
#registracija > #gornji_dio > label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    margin: 5px;
}
#registracija > #gornji_dio >input {
    display: inline-block;
    float: right;
    margin: 2px;


} 
#prijava > #gornji_dio >input {
    display: inline-block;
    float: right;
    margin: 2px;


}
#prijava > #gornji_dio >label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    margin: 5px;
}
#gornji_dio{
    display: inline-block;
}
#gumbi{

    float: none;

}
#gumbi > label{
    display: block;
}

#sadrzaj > #registracija{
    position: relative;
    float: left;
}
#sadrzaj{
    margin-left: 20%;
    min-height: 600px;
}

@media screen and (min-width: 480px) and (max-width: 1024px){

    form{

        margin-left: 50px;
        min-width: 200px;

    }
    nav{
        position: initial ;
        width: 100%;
        max-width: 100%;
        clear: both;
        align-self: center;
        padding:  0px;
        text-align: center;


    }
    #sadrzaj{
        margin-left: 1px;
    }
    nav > ul li a{
        display: block;
        width: 100%;
        padding:  0px;
        text-align: center;


    }
    nav > ul{
        width: 100%;
        padding:  0px;

    }
  
}
@media screen and (max-width: 480px ){

    nav{
        position: initial ;
        width: 100%;
        max-width: 100%;
        clear: both;
        align-self: center;
        padding:  0px;
        text-align: center;


    }
    #sadrzaj{
        margin-left: 1px;
    }
    nav > ul li a{
        display: block;
        width: 100%;
        padding:  0px;
        text-align: center;


    }
    nav > ul{
        width: 100%;
        padding:  0px;

    }
    form{

        min-width: 200px;

    }
}
@media screen and (min-width: 1024px){

}
