</section> 
        <footer class="podnozje">
            
            <figure>
                <a href="https://jigsaw.w3.org/css-validator/validator?uri=http://barka.foi.hr/WebDiP/2016_projekti/WebDiP2016x004/css/globabic.css">
                    <img src="slike/CSS3.png" width="100" alt="CSS3" > </a>
                <figcaption>CSS 3 validator</figcaption>
            </figure>
            <p>
                
            <address>
                Kontakt: <a href="mailto:globabic@foi.hr">Gloria Babić</a>
            </address>

            <p>
                <small>&copy;</small> 2017. G.B.
            </p>


        </footer>
</body>
</html>